 .container{
     margin-top: 20px;
 }
 .carousel-iteam{
     padding: 20px 40px;
 }
 .button{
     background-color: black;
     color: white;
     border: none;
     padding: 10px 20px;
     border-radius: 10px;
     
 }
 .card{
     border: none;
     box-shadow: 5px 5px 10px lightgray;
     
 }
  